5. To develop a page with different font-styles, font-size, font-family, colors and text-align

body {
    font-family: Arial, sans-serif;
    font-size: large;
    font-style: italic;
    color: #333333;
    text-align: center;
}